@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    La mejor Casa<br />
    Del Mundo, #022<br />
    <abbr title="Phone">P:</abbr>
    +56 9 91517712
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:Support@example.com">soporte@example.com</a><br />    
</address>
